* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* .container-timer {
  position: absolute;
  top: 20%;
  left: 45%;
} */

.btn-color-switcher {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f39c12;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  cursor: pointer;
  font-weight: 600;

  letter-spacing: 2px;
}

.btn-color-switcher::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: width 0.3s ease-out, height 0.3s ease-out, top 0.3s ease-out,
    left 0.3s ease-out;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.btn-color-switcher span {
  position: relative;
  z-index: 1;
}

.btn-color-switcher:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.btn-color-switcher:hover::before {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}

.container-color-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 200px;
}

.btn-color-switcher:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* 02-timer */

.container-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-div {
  display: flex;
  gap: 1rem;
}

.btn-timer {
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 18px;
  color: #fff;
  background: linear-gradient(to right, #ffcc00, #ff6666);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.btn-timer:hover {
  background: linear-gradient(to right, #ff6666, #ffcc00);
}

.btn-timer:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#datetime-picker {
  border: none;
  border: 1px solid orange;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  outline: none;
  background-color: rgba(253, 235, 212, 0.535);
  font-weight: 600;
}

#datetime-picker:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.timer {
  display: flex;
  gap: 5rem;
  font-weight: 600;
  font-size: 25px;
  margin-top: 3rem;
}

/* 03-hw */

@keyframes rainbow {
  0% {
    color: #ff0000;
  }
  14% {
    color: #ff8000;
  }
  28% {
    color: #ffff00;
  }
  42% {
    color: #80ff00;
  }
  57% {
    color: #00ff00;
  }
  71% {
    color: #00ff80;
  }
  85% {
    color: #00ffff;
  }
  100% {
    color: #0080ff;
  }
}

.btn-promises {
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 16px;
  border: none;
  background-color: black;
  border-radius: 2rem;
  color: #ffffff;
  cursor: pointer;
  animation: rainbow 5s infinite;
}

.form input {
  outline: none;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.form {
  font-weight: 600;
  font-size: large;
  display: flex;
  gap: 1rem;
}

.btn-promises:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
